In [66]:
import pandas as pd
from sklearn.metrics import ndcg_score
import pickle
import math

In [2]:

hyperparams = {
    'batch_size' : 32,
    'save_loss_interval' : 5,
    'print_interval' : 2,
    'save_model_interval' : 20,
    'n_epochs' : 50,
    'learning_rate' : 0.0005,
    'numfeature_use':100,
    'dataset_name':'madelon',
    'num_intent':5
}
#'lear

In [3]:
datasetName = hyperparams['dataset_name']

In [32]:
# load in target values
fileName = r'data/' + datasetName + '_out' + '.csv'
y_df = pd.read_csv(fileName)

In [33]:
y_df

     Unnamed: 0            f        mi
0             0    V2intent1  0.016170
1             1    V3intent1  0.022347
2             2    V4intent1  0.008604
3             3    V5intent1  0.023077
4             4    V6intent1  0.006427
..          ...          ...       ...
391         391   V96intent4  0.058128
392         392   V97intent4  0.012774
393         393   V98intent4  0.051109
394         394   V99intent4  0.053989
395         395  V100intent4  0.065421

[396 rows x 3 columns]

In [34]:
fileName = r'data/' + datasetName + '_mask' + '.csv'
train_mask_df = pd.read_csv(fileName)

In [35]:
train_mask_df

     Unnamed: 0            f  mask_val
0             0    V2intent1     False
1             1    V3intent1     False
2             2    V4intent1     False
3             3    V5intent1     False
4             4    V6intent1     False
..          ...          ...       ...
391         391   V96intent4      True
392         392   V97intent4      True
393         393   V98intent4      True
394         394   V99intent4      True
395         395  V100intent4      True

[396 rows x 3 columns]

In [36]:
masked = list(train_mask_df[train_mask_df['mask_val'] == False]['f'])

In [38]:
y_df['g'] = y_df['f'].str[:-1]

In [39]:
pred = []

In [40]:
for m in masked:
    avg = y_df.loc[y_df['g'] == m[:-1], 'mi'].mean()
    pred.append(avg)

In [50]:
true = list(y_df['mi'])[:len(pred)]

In [58]:
krange = [5,10,20,50,100]
for k in krange:
    print("ndcg at ",k ," is =", ndcg_score([true],[pred],k=k))

ndcg at  5  is = 0.9669794639220434
ndcg at  10  is = 0.9754610442685185
ndcg at  20  is = 0.9758323677637559
ndcg at  50  is = 0.9862283450076221
ndcg at  100  is = 0.9933345225282699

In [59]:
true

[0.0161699462524421,
 0.0223471159196369,
 0.008604374825498,
 0.0230773050325658,
 0.0064273175476374,
 0.0191945476111768,
 0.0017665555704707,
 0.0099677301107039,
 0.0066424544922857,
 0.0197538918395082,
 0.0183937513137917,
 0.0184575701967168,
 0.021425742271522,
 0.0089888991270644,
 0.0135054109226662,
 0.008761058803197,
 0.0171896087639094,
 0.0118033014127126,
 0.0084213359706179,
 0.010455988668109,
 0.0109095634967789,
 0.004695622285262,
 0.0086720900458208,
 0.0184145039331273,
 0.0162055269430189,
 0.0155239932772276,
 0.0073135053933269,
 0.0103784916087097,
 0.0135864042843709,
 0.0060031967737253,
 0.0168844792956978,
 0.0200475243993823,
 0.020194588447595,
 0.0144653855364037,
 0.0216035616285524,
 0.0112030020233489,
 0.0132182222827551,
 0.0079325813736027,
 0.0021040324660131,
 0.0037248484598439,
 0.0186724828971745,
 0.0155593755628684,
 0.0103300565894302,
 0.0216013268317824,
 0.0156411441070791,
 0.0179489527399064,
 0.0192725848046458,
 0.0184020158195042,
 0.0135561039517188,
 0.021569972493958,
 0.0203877054097621,
 0.0113314161006318,
 0.0059841020533684,
 0.0170132118280622,
 0.0123368284780957,
 0.0229500593414934,
 0.0194114581588694,
 0.0210218038815966,
 0.0124547080862072,
 0.0121199995628197,
 0.0058716566561276,
 0.0209790745488808,
 0.0049058405059509,
 0.0419589994432078,
 0.0192760324493144,
 0.0233553030054338,
 0.0151761109427735,
 0.0052903324952827,
 0.0081246934232122,
 0.0219934478861961,
 0.0143542051392988,
 0.0129020033186213,
 0.0183822401693961,
 0.005085673057789,
 0.0220872342513702,
 0.0096091579281913,
 0.0147808550370852,
 0.0200170397250785,
 0.0132794791614976,
 0.01398978108852,
 0.0200820633749531,
 0.0156053976928474,
 0.0096066772144761,
 0.0184560145611764,
 0.0167378961603082,
 0.0051335590184076,
 0.012495194532802,
 0.0047917816566635,
 0.024465753274238,
 0.0013805534454538,
 0.0180944570041804,
 0.0121865400539894,
 0.0120946587054948,
 0.0051816292063365,
 0.0156765090485263,
 0.0052035263666918,
 0.0141899346106933,
 0.0117060779886778,
 0.0222216806842198]

In [70]:
len(pred)

99

In [73]:

fname='data/input.pickle'
with open(fname, 'rb') as handle:
    inRank = pickle.load(handle)

In [74]:
fname='data/result.pickle'
with open(fname, 'rb') as handle:
    outRank = pickle.load(handle)